 body {
    height: 100vh;
    width: 100vw;
    background-position: cover;
    background: rgb(38,32,128);
    background: linear-gradient(90deg, rgba(38,32,128,1) 0%, rgba(130,156,199,1) 100%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex{
    align-items: center;
    justify-content: center;
}

.square {
    border: 3px solid gray;
    width: 100px;
    height: 100px;
}

.icons {
    font-size: 60px;
}

.restart {
    font-size: 160px;
    background: rgb(83,77,177);
    background: linear-gradient(90deg, rgba(83,77,177,1) 0%, rgba(150,86,255,1) 36%, rgba(0,212,255,1) 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.card {
    background-color: rgba(255, 255, 255, 0.603);
    backdrop-filter: blur(33px);
}

